.general-btn{
    margin-top:2em!important; 
    margin-left:3em!important;
}
.main-paper{
    /* border-radius: 30px!important; */
    height: 800px;
    margin: 2em!important;
    padding-top: 3em;
    overflow-x: hidden;
    overflow-y: auto;
}
.main-table-header{
    width: 50px
}